.about {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
}

.about__image {
  order: 1;
  float: right;
  height: auto;
  width: 100%;
  border-radius: 6px;
}

.about__description {
  overflow: hidden;
  margin: 0;
  height: 115px;
  width: auto;
  border-radius: 6px;
}

.about__text {
  display: inline-block;
}

.about__expand-button {
  display: block;
  align-self: flex-start;
  margin: 10px 0 20px 0;
}

@media screen and (min-width: 768px) {
  .about {
    display: block;
  }

  .about__image {
    margin: 0 0 0 40px;
  }

  .about__description {
    height: 205px;
  }

  .about__image {
    width: 50%;
  }
}

@media screen and (min-width: 1360px) {

  .about__description {
    height: 245px;
  }
}



