@import "src/scss/variables";

.contacts__item {
  display: inline-block;
}

.contacts__buttons {
  margin: 0 0 16px 0;
  padding: 0;
  list-style: none;
}

.contacts__feedback-button {
  margin-left: 16px;
}

.contacts__profile-button {
  margin-left: 16px;
}
