@import "variables";

.lang-switcher__lang {
  display: inline-block;
}

.lang-switcher__lang-link {
  text-decoration: none;
  color: $black;
}

.lang-switcher__lang-link:hover {
  color: $gray-dark;
}

.lang-switcher__lang-link--selected {
  color: $gray-dark;
}
