@import "variables";

.left-modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  width: 320px;
  min-height: 100%;
  z-index: 4;
  overflow-y: scroll;
  font-family: $font;
  font-size: 16px;
  background: $white;
  box-shadow: 16px 0px 52px $shadow-color;
}

.left-modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 24px;
  list-style: none;
}

.left-modal__home-link {
  margin: 0 auto 0 16px;
}


.left-modal__menu {
  margin: 0;
}

.left-modal__site-nav {
  margin: 0 0 3vh 0;
  padding: 0 0 0 24px;
  list-style: none;
}

.left-modal__contacts {
  list-style: none;
  padding: 0 0 0 24px;
}

.left-modal__lang-switcher {
  list-style: none;
  padding: 0 0 0 24px;
  margin: 40px 0 40px 0;
}

@media screen and (min-width: 1360px) {
  .left-modal {
    display: flex !important;
    position: static;
    box-shadow: none;
    z-index: 2;
  }
  .left-modal__close-button {
    display: none;
  }
  .left-modal__home-link {
    margin: 0;
  }
}
