@import "src/scss/variables";

.left-sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  width: 320px;
  min-height: 100%;
  z-index: 4;

  font-family: $font;
  font-size: 16px;
  background: $white;
  box-shadow: 16px 0px 52px $shadow-color;
}

.left-sidebar__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 24px;
  list-style: none;
}

.left-sidebar__home-link {
  margin: 0 auto 0 16px;
}


.left-sidebar__menu {
  margin: 0;
}

.left-sidebar__site-nav {
  margin: 0 0 3vh 0;
  padding: 0 0 0 24px;
  list-style: none;
}

.left-sidebar__contacts {
  margin: 25% 0 0 0;
  list-style: none;
  padding: 0 0 0 24px;
}


.left-sidebar__languages {
  list-style: none;
  padding: 0 0 0 24px;
  margin: 40px 0 40px 0;
}

@media screen and (min-width: 768px) {
  .left-sidebar__menu {
  }
}

@media screen and (min-width: 1360px) {
  .left-sidebar {
    display: flex !important;
    position: static;
    box-shadow: none;
    z-index: 2;
  }
  .left-sidebar__close-button {
    display: none;
  }
  .left-sidebar__home-link {
    margin: 0;
  }
}
