/*colors*/
$white: #ffffff;
$pink: #FF3E79;
$cyan: #41F6D7;
$cyan-light: #D9FFF5;
$gray-light: #F8F8F8;
$gray-lighter: #EAEAEA;
$gray: #DDDDDD;
$gray-darker: #B5B6BC;
$gray-dark: #7E7E82;
$black: #1B1C21;

$shadow-color: rgba(14, 24, 80, 0.2);
$overlay-color: rgba(255, 255, 255, 0.9);
/*fonts*/
$font: 'TT Lakes', sans-serif;



